@media(max-width:375px){
    .nav{
        /* padding: 10px 0 0 0; */
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .logo{
        margin: 0 auto;
        height: 35%;
        padding: 10px 0;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }
    .menu li{
        border: 1px solid #fff;
        width: 50%;
        height: 50%;
    }

    /* baanner */
    .banner{
        height: 394px;
    }

    .banner-content{
        padding: 164px 0;
    }
    .slogan{
        font: 16px;
        line-height: 30px;
    }

    .title{
        font: 32px;
        line-height: 72px;
    }
    .subTitle{
        font-size: 24px;
        line-height: 48px;
        padding: 32px 0 28px 0;
    }

    .benefit-item img{
        width: 83px;
        height: 83px;
    }
    .benefit-title{
        font: 24px;
        line-height: 36px;
    }
    /* classics */
    .subTitle-classics{
        float: left;
        z-index: 1;
    }

    /* feat */
    .feat-content{
        display: flex;
        flex-wrap: wrap;
    }
    .feat-item{
        width: 100%;
    }

    /* recommand */
    .recommand-list{
        width: 100%;
    }

    /* footer */
    .menu-footer{
        display: none;
    }
    
    .social-media img{
        width: 24px;
        margin-left: 24px;
    }

    .info{
        font-size: 16px;
        line-height: 30px;
    }

    .contact-icon{
        width: 15px;
    }
    .others{
        display: block;
    }

    .copy-right{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 8px;
    }

    .policy {
        display: block;
        font-size: 14px;
        line-height: 21px;
        margin-left: 0;
    }

    .policy p{
        margin: 0 0 8px 0;
    }
}